venv/
matsuolabs/Final Assignment/ubianoMarrugo.pdf
matsuolabs/Final Assignment/RubianoMarrugo.zip
matsuoLabs/Final Assignment/client_snapshot.png
matsuoLabs/Final Assignment/catboost_info/
matsuoLabs/Final Assignment/eda.ipynb
matsuoLabs/Final Assignment/features_posibles.json
matsuoLabs/Final Assignment/feature_importance.png
matsuoLabs/Final Assignment/logs.log
matsuoLabs/competition/catboost_info
matsuoLabs/competition/puntajes/
matsuoLabs/competition/logs.log
matsuoLabs/competition/basura/  